.nav-tabs {
  border: none !important;

  .nav-item {
    a {
      &.active {
        background: $color_black;
        color: $color_white;
        border: solid 1px $color_black;

        &:hover,
        &:focus {
          color: $color_white !important;
          background: $color_black !important;
          border: solid 1px $color_black;
        }

        &.btn-sh {
          box-shadow: 0 14px 35px -11px $color_black;
        }

        &.btn-outline {
          border: solid 2px $color_black;
          background: transparent !important;
          color: $color_black;

          &:hover {
            color: $color_brand !important;
          }
        }

        &.btn-outline-bottom {
          border-bottom: solid 3px $color_black;
          background: transparent !important;
          color: $color_black;
        }
      }
    }
  }
}


.tab {
  --animation-time: 200ms;

  position: relative;
  overflow: hidden;
}

.tab::after {
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--underline-size, 2px);
  position: absolute;
  background-color: var(--underline-color, currentColor);
  transition:
    transform ease var(--animation-time, 200ms),
    opacity ease 0ms 200ms;
  transform: translateX(100%);
  opacity: 0;
}

.tab:hover~.tab::after {
  transform: translateX(-100%);
}

.tabs-wrapper:not(:hover) .tab:not(.is-active)::after {
  transform: translateY(100%);
}

.tabs:hover .tab:hover::after,
.tabs-wrapper:hover .tabs:hover .tab:hover::after {
  transition-delay: 0ms, 0ms;
}

.tab.is-active::after,
.tab:hover::after {
  transform: translateX(0%);
  opacity: 1;
}




/* Just for styling */

.twb-tab {
  --animation-time: 200ms;

  position: relative;
  overflow: hidden;
}

.twb-tab::after {
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--underline-size, 2px);
  position: absolute;
  background-color: var(--underline-color, currentColor);
  transition:
    transform ease var(--animation-time, 200ms),
    opacity ease 0ms 200ms;
  transform: translateX(100%);
  opacity: 0;
}

.twb-tab:hover~.twb-tab::after {
  transform: translateX(-100%);
}

.twb-tabs-wrapper:not(:hover) .twb-tab:not(.is-active)::after {
  transform: translateY(100%);
}

.twb-tabs:hover .twb-tab:hover::after,
.twb-tabs-wrapper:hover .twb-tabs:hover .twb-tab:hover::after {
  transition-delay: 0ms, 0ms;
}

.twb-tab.is-active::after,
.twb-tab:hover::after {
  transform: translateX(0%);
  opacity: 1;
}

.twb-tabs-wrapper {
  display: flex;
  justify-content: center;
  background-color: #ecf0f1;
  border-radius: 6px 6px 0 0;
}

.twb-tabs {
  display: inline-flex;
  justify-content: center;
}

.twb-tab {
  color: inherit;
  padding: 20px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;

  a {
    color: $color_text;
    font-weight: bold;
  }

  &:hover {
    a {
      color: $color_black;
    }
  }
}


.twb-tab.is-active {
  a {
    color: $color_black !important;
  }
}
