.icon_plus-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey;
}


.photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid $color_stroke;
}


.profile-name {
  font-size: 18px;
  font-weight: 500;

  .separator {
    color: $color_stroke;
  }
}

.menu-subtitle {
  font-size: 14px;
}



#min-tablet-view {
  display: none;

  @include lg_screen {
    display: block;
  }


  .app {
    margin-top: 8rem;
  }
}

#mobile-view {
  display: none;
  padding-top: 44px;

  @include tablet_screen {
    display: block;
  }


  .mobile-wrapper {
    padding: 0 16px;
    width: 100%;
  }

  .account-profile {
    padding: 16px;
  }

  .mobile-header {
    position: fixed;
    top: 0;
    background: $color_white;
    width: 100%;
    z-index: 10;
    text-align: center;
    font-size: 17px;
    line-height: 44px;
    padding: 0 16px;
    display: flex;
    height: 44px;
    font-weight: 700;
    color: $color_black;


    .header-left {
      display: flex;
      align-items: center;
      // width: 60px;
    }

    h1.header-center {
      flex: 1 1 0%;
      font-size: 16px;
      padding: 0 12px;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 700;
      display: flex;
      align-items: center;
      // justify-content: center;
    }


    .header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 64px;
    }
  }


  .account-plan {
    padding: 16px;
    border: 0;
    background: $color-grey;
    margin-top: -8px;
    border-radius: 0 !important;

    .account-plan--card {
      background: $color_white;
      padding: 8px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .account-plan--title {
      font-size: 14px;
    }
  }

  .action-area {
    position: fixed;
    z-index: 10;
    background: $color_white;
    bottom: 0;
    display: flex;
    padding: 16px 0;
    width: 100%;
    border-top: 1px solid $color_stroke;
  }
}

.account-upgrade {
  padding: 12px 10px;
  border-radius: 5px;
  background: $color_white;
  border: 1px solid $color_stroke;
  width: 260px;
  text-align: center;
  position: relative;
  color: $color_text;
  font-size: 14px;
  cursor: pointer;


  &:hover {
    background: $color_grad;
    color: $color_white !important;

    .txt_brand {
      color: $color_white !important;
    }
  }


  strong {
    display: block;
  }

  .desc {
    font-size: 12px;
  }


  .txt_brand {
    color: $color_brand;
  }
}



.account-profile {
  padding: 16px 24px;
  border-bottom: 1px solid $color_stroke;
  margin-bottom: 8px;
}

.account-menu {
  li {
    position: relative;

    a {
      color: $color_text;
      font-size: 15px;
      padding: 16px 24px;
      display: block;

      &:hover {
        color: $color_black;
        font-weight: bold;
      }
    }
  }

  li.active {

    a {
      color: $color_black;
      font-weight: bold;
    }
  }

  li.separator {
    margin: 16px 0;
    border-top: 1px solid $color_stroke;
  }

  li.warning {
    a {
      color: $color-red;
    }
  }
}

.account-menu {
  li a {
    color: $color_black;
  }
}


.upgrade-card {
  padding: 16px 24px;
  border-top: 1px solid $color_stroke;
  margin-top: 8px;
}

.account-plan {
  border: 1px solid $color_stroke;
  padding: 16px;
  border-radius: 8px;


  .account-plan--icon {
    width: 24px;
    height: 24px;
  }

  .account-plan--title {
    font-size: 22px;
    font-weight: bold;
  }
}

.setting-title {
  font-size: 48px;
  letter-spacing: -1;
  line-height: 56px;
  font-weight: 900;
  padding-bottom: 0.67em;
}


.profile-banner {
  width: 100%;
  border-radius: 4px;
}

.form-field {
  margin-bottom: 32px;

  .section {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
    // border-bottom: 1px solid $color_stroke;
  }
}


.google-connect {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color_black;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;

  .disconnect {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: $color_text;
    border-radius: 100%;
    margin-left: 24px;
  }
}



.twitter-connect {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  background: #1da1f2;
  color: $color_white;


  .disconnect {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: $color_text;
    border-radius: 100%;
    margin-left: 24px;
    color: $color_white;
    background: rgba($color: $color-grey, $alpha: .20);
  }
}


.form-column--header {
  grid-template-rows: 72px;
  align-items: center;
  grid-template-areas: "name . .";
  display: grid;
  grid-template-columns: 1fr 80px 80px;


  .form-column--title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.25px;
    grid-area: name / name / name / name;
  }
}


.notification-check--header {
  padding-bottom: 1em;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  display: block;
  color: $color_black;
  word-break: break-word;
}


.form-notify {
  display: grid;
  grid-template-columns: 1fr 80px 80px;
  grid-template-areas: "name email push""description email push";
  -webkit-box-align: center;
  align-items: center;


  &--title {
    grid-area: name / name / name / name;
    font-size: 16px;
    line-height: 24px;
  }

  &--desc {
    grid-area: description / description / description / description;
    font-size: 14px;
  }

  &--email {
    grid-area: email / email / email / email;
  }


  &--push {
    grid-area: push / push / push / push;
  }

}


.badge-plan {
  position: relative;
  padding: 24px 12px;
  // background: url('../img/items/badge-pattern.svg');
  // background-repeat: no-repeat;
  // background-position: right;
  border-radius: 8px;


  &--icon {
    width: 48px;
    height: 48px;
  }


  &--identity {
    flex-grow: 1;
    padding-left: 8px;

    .title {
      font-size: 24px !important;
      line-height: 20px;
      font-weight: 700;
      color: $color_white;
    }

    .type {
      font-size: 16px !important;
      font-weight: 400;
    }
  }


  &--mask {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;

  }

  &.starter {
    background: linear-gradient(272.67deg, #414345 0%, #232526 58.99%);
    color: $color_white;
  }
}


.transaction--title {
  font-size: 24px;
}


ul.transaction--chips {
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;


  li {
    padding: 8px 24px;
    border-radius: 100px;
    background: $color-grey;
    font-size: 14px;
    border: 1px solid $color_stroke;
    cursor: pointer;

    &.active {
      background: $color_brand;
      border: 0;
      color: $color_white;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}



.transaction-history {
  margin-bottom: 16px;

  .transaction-card {
    border: 1px solid $color_stroke;
    border-radius: 8px;

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-bottom: 1px solid $color_stroke;


      .status {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 4px;

        &.expired {
          color: #707070;
          background-color: #F0F0F0;
        }

        &.cancelled {
          background: #FFE7E7;
          color: #FE4646;
        }
      }
    }

    &--body {
      padding: 16px;

      .meta-title {
        font-size: 14px;
      }

      .meta-value {
        font-weight: 700;
        font-size: 16px;
        color: $color_black;
        letter-spacing: 0;
      }
    }
  }
}
